@import "../assets/line-awesome/css/line-awesome.min.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'XX';
    src: url('vazir/XX.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'XX', sans-serif !important;
}

